#root{
  margin-left: 20%;
  margin-right: 20%;
}

nav{
  display: flex;
  justify-content: end;
}


nav div{
  padding: 10px 20px;
  margin-left: 2px;
  background-color:aliceblue ;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all .5s;
}

nav div:hover{
  background-color: rgb(54, 54, 73);
  color: white;
}

form{
  display: flex;
  margin-top: 20px;
}
form input:first-child{
  flex-grow: 1;
}

form input:nth-child(2){
  padding: 10px 20px;
}

form input:nth-child(2):hover{
  cursor: pointer;
}

.task_row{
  display: flex;
  background-color: white;
  margin-top: 15px;
}

label{
  font-size: 30px;
}

.task_row .fa_icon:first-child:hover{
  cursor: pointer;
}